/* IMPORTS */
/* Partials de /base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* DESKTOP */
/* EFECTO HOVER */
/* GRIS NAV */
/* MIXIN NAV */
/* ESTILO DE TITULOS */
/* MOBILE */
/* INSERTS DE TEXTO */ /* MOBILE */
.headerUbicacion {
  display: grid;
  grid-template-areas: "logo" "menu";
  background-color: rgba(155, 155, 155, 0.6);
}
.headerUbicacion .contenedorImgNav {
  grid-area: logo;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.headerUbicacion .contenedorImgNav .logoImprentaNav {
  width: 30rem;
}
.headerUbicacion .navBar {
  grid-area: menu;
  width: 100%;
  display: grid;
  grid-template-areas: "inicio quienes" "donde galeria" "contacto contacto";
  place-items: center;
}
.headerUbicacion .navBar .inicioNav {
  grid-area: inicio;
  margin: 15px;
}
.headerUbicacion .navBar .quienesSomosNav {
  grid-area: quienes;
  margin: 15px;
}
.headerUbicacion .navBar .dondeEstamosNav {
  grid-area: donde;
  margin: 15px;
}
.headerUbicacion .navBar .galeriaNav {
  grid-area: galeria;
  margin: 15px;
}
.headerUbicacion .navBar .contactoNav {
  grid-area: contacto;
  margin: 15px;
}
.headerUbicacion .navBar a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Play", sans-serif;
  font-size: 30px;
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  /* NAVBAR */
  .headerUbicacion {
    display: flex;
    justify-content: space-around;
    margin: 35px;
    background-color: rgba(155, 155, 155, 0.6);
  }
  .headerUbicacion .contenedorImgNav {
    display: flex;
  }
  .headerUbicacion .contenedorImgNav .logoImprentaNav {
    width: 500px;
    margin: 15px;
  }
  .headerUbicacion .navBar {
    display: grid;
    grid-template-areas: "inicio" "quienes" "donde" "galeria" "contacto";
    place-items: center;
  }
  .headerUbicacion .navBar .inicioNav {
    grid-area: inicio;
  }
  .headerUbicacion .navBar .quienesSomosNav {
    grid-area: quienes;
  }
  .headerUbicacion .navBar .dondeEstamosNav {
    grid-area: donde;
  }
  .headerUbicacion .navBar .galeriaNav {
    grid-area: galeria;
  }
  .headerUbicacion .navBar .contactoNav {
    grid-area: contacto;
  }
  .headerUbicacion .navBar a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Play", sans-serif;
    font-size: 30px;
  }
}
/* Partials de /pages */
/* MOBILE */
/* MAIN DONDE ESTAMOS */
.mainDonde {
  display: grid;
  grid-template-areas: "titulo" "parrafo" "mapa";
  margin: 15px;
  place-items: center;
}
.mainDonde .titulo {
  color: #ffffff;
  font-family: "Play", sans-serif;
  font-size: 60px;
  text-align: center;
  margin-bottom: 25px;
}
.mainDonde .parrafo {
  color: #ffffff;
  font-family: "Play", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}
.mainDonde .contenedorMapaGoogle {
  grid-area: mapa;
  margin: 15px;
}
.mainDonde .contenedorMapaGoogle .mapaGoogle {
  width: 500px;
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  /* MAIN DONDE ESTAMOS */
  .mainDonde {
    display: grid;
    grid-template-areas: "titulo" "parrafo" "mapa";
    margin: 15px;
    place-items: center;
  }
  .mainDonde .titulo {
    color: #ffffff;
    font-family: "Play", sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 25px;
  }
  .mainDonde .parrafo {
    color: #ffffff;
    font-family: "Play", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
  }
  .mainDonde .contenedorMapaGoogle {
    grid-area: mapa;
    margin: 40px;
  }
}
/* MOBILE */
.contenedorMainIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorMainIndex .logoImprenta {
  width: 25rem;
  margin: 30px;
}
.contenedorMainIndex .quienesSomos {
  text-decoration: none;
  color: #ffffff;
  font-family: "Play", sans-serif;
  font-size: 45px;
  margin-top: 55px;
  text-align: center;
}
.contenedorMainIndex .dondeEstamos {
  text-decoration: none;
  color: #ffffff;
  font-family: "Play", sans-serif;
  font-size: 45px;
  margin-top: 55px;
  text-align: center;
}
.contenedorMainIndex .galeria {
  text-decoration: none;
  color: #ffffff;
  font-family: "Play", sans-serif;
  font-size: 45px;
  margin-top: 55px;
  text-align: center;
}
.contenedorMainIndex .contacto {
  text-decoration: none;
  color: #ffffff;
  font-family: "Play", sans-serif;
  font-size: 45px;
  margin-top: 55px;
  text-align: center;
}
.contenedorMainIndex a {
  text-decoration: none;
  color: #ffffff;
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  .contenedorMainIndex {
    display: grid;
    grid-template-areas: "logo indice";
    height: 100vh;
    justify-content: space-around;
  }
  .contenedorMainIndex .contenedorImg {
    grid-area: logo;
    justify-content: space-around;
  }
  .contenedorMainIndex .contenedorImg .logoImprenta {
    width: 50rem;
  }
  .contenedorMainIndex .navBarIndex {
    grid-area: indice;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
  }
  .contenedorMainIndex a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Play", sans-serif;
    font-size: 40px;
  }
  /* EFECTO HOVER */
  .efectoHover {
    background: linear-gradient(90deg, orangered, orangered) no-repeat right bottom/0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
  }
  .efectoHover:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
}
.mainGaleria {
  display: grid;
  grid-template-areas: "titulo" "galeria";
  justify-content: center;
}
.mainGaleria .titulo {
  grid-area: titulo;
  color: #ffffff;
  font-family: "Play", sans-serif;
  font-size: 60px;
  text-align: center;
  margin-bottom: 25px;
}
.mainGaleria .carousel {
  grid-area: galeria;
  margin: 40px;
  max-width: 700px;
  max-height: 700px;
}

/* MOBILE */
.titulo {
  color: #ffffff;
  font-family: "Play", sans-serif;
  font-size: 60px;
  text-align: center;
  margin-bottom: 25px;
  margin: 10px;
}

.parrafo {
  color: #ffffff;
  font-family: "Play", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  margin: 25px;
}

.subtitulo {
  color: #ffffff;
  font-family: "Play", sans-serif;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.encabezado {
  display: flex;
  flex-direction: column;
}

.logosRedes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logosRedes .logo {
  width: 150px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario .datosPersonales {
  display: flex;
  flex-direction: column;
  margin: 15px;
  justify-content: center;
}
.formulario .datos {
  width: 500px;
  height: 35px;
  margin: 5px;
  color: #ffffff;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  border: none;
  margin: 5px;
}

.botonCheck {
  display: flex;
  justify-content: center;
}
.botonCheck .botoncito {
  width: 25px;
  margin: 10px;
  margin-top: 5px;
}

.adjuntar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.adjuntar .botonAdjuntar {
  width: 200px;
  height: 40px;
  border-radius: 30px;
  border: none;
  font-weight: 700;
  margin: 5px;
}

.contenedorMensaje {
  display: flex;
  justify-content: center;
}
.contenedorMensaje .mensaje {
  width: 70%;
  height: 300px;
  margin-bottom: 25px;
  font-size: 25px;
  text-align: center;
  padding: 15px;
}

.botones {
  display: flex;
  justify-content: center;
  margin: 25px;
  margin-bottom: 25px;
}
.botones .botonGrande {
  width: 200px;
  height: 40px;
  border-radius: 30px;
  border: none;
  font-weight: 700;
  margin: 5px;
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  .titulo {
    color: #ffffff;
    font-family: "Play", sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 25px;
  }
  .parrafo {
    color: #ffffff;
    font-family: "Play", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    margin: 25px;
  }
  .subtitulo {
    color: #ffffff;
    font-family: "Play", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
  }
  .encabezado {
    display: flex;
    flex-direction: column;
  }
  .logosRedes {
    display: flex;
    justify-content: space-around;
    margin: 25px;
  }
  /* SECTOR FORMULARIO DE CONTACTO */
  .formulario {
    display: flex;
    flex-direction: column;
  }
  .formulario .datosPersonales {
    display: flex;
    margin: 15px;
    justify-content: center;
  }
  .formulario .datos {
    width: 500px;
    height: 35px;
    margin: 5px;
    color: #ffffff;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    border: none;
    margin: 5px;
  }
  /* BOTON CHECK */
  .botonCheck {
    display: flex;
    justify-content: center;
  }
  .botonCheck .botoncito {
    width: 25px;
    margin: 10px;
    margin-top: 5px;
  }
  .adjuntar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .adjuntar .botonAdjuntar {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    margin: 5px;
  }
  .contenedorMensaje {
    display: flex;
    justify-content: center;
  }
  .contenedorMensaje .mensaje {
    width: 70%;
    height: 300px;
    margin-bottom: 25px;
    font-size: 25px;
    text-align: center;
    padding: 15px;
  }
  .botones {
    display: flex;
    justify-content: center;
    margin: 25px;
    margin-bottom: 25px;
  }
  .botones .botonGrande {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    margin: 5px;
  }
}
/* DESKTOP */
.titulos {
  color: #ffffff;
  font-family: "Play", sans-serif;
  font-size: 60px;
  text-align: center;
  margin-bottom: 25px;
}

.sectorMobile {
  display: flex;
  flex-direction: column-reverse;
}

img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  /* MAIN QUIENES SOMOS */
  .mainQuienes {
    margin: 20px;
    /* UBICACIONES DE PARRAFOS E IMAGENES */
  }
  .mainQuienes .titulos {
    color: #ffffff;
    font-family: "Play", sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 25px;
  }
  .mainQuienes .articulos .sector {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 25px;
  }
  .mainQuienes .articulos .sector .articulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
  }
  .mainQuienes .subtitulo {
    color: #ffffff;
    font-family: "Play", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
  }
  .mainQuienes .parrafo {
    color: #ffffff;
    font-family: "Play", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
  }
  .mainQuienes .foto {
    width: 700px;
    margin: 15px;
  }
  .mainQuienes .fotoPlotter {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
