
.titulo {
    @include estilo-titulos;
}

.parrafo {
    @include estilo-parrafos;
    margin: 25px;
}

.subtitulo {
    @include estilo-subtitulos;
}

.encabezado {
    display: flex;
    flex-direction: column;
}

.logosRedes {
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

/* SECTOR FORMULARIO DE CONTACTO */

.formulario {
    display: flex;
    flex-direction: column;

    .datosPersonales {
        display: flex;
        margin: 15px;
        justify-content: center;
    }

    .datos {
        width: 500px;
        height: 35px;
        margin: 5px;
        @include insert;
    }

}

/* BOTON CHECK */

.botonCheck {
    display: flex;
    justify-content: center;

    .botoncito {
        width: 25px;
        margin: 10px;
        margin-top: 5px;
    }
}

.adjuntar {
    display: flex;
    justify-content: center;
    align-items: center;

    .botonAdjuntar {
        @include botones-grandes;
    }
}

.contenedorMensaje{
    display: flex;
    justify-content: center;

    .mensaje {
        width: 70%;
        height: 300px;
        margin-bottom: 25px;
        font-size: 25px;
        text-align: center;
        padding: 15px;
    }
}

.botones{
    display: flex;
    justify-content: center;
    margin: 25px;
    margin-bottom: 25px;

    .botonGrande {
        @include botones-grandes;
    }
}
