
.mainGaleria {
    display: grid;
    grid-template-areas: 
    "titulo"
    "galeria";
    justify-content: center;

    .titulo {
        grid-area: titulo;
        @include estilo-titulos;
    }

    .carousel {
        grid-area: galeria;
        margin: 40px;
        max-width: 700px;
    }

}