
/* MOBILE */

.contenedorMainIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logoImprenta {
        width: 25rem;
        margin: 30px;
    }

    .quienesSomos {
        @include estilo-nav-mobile;
    }

    .dondeEstamos {
        @include estilo-nav-mobile;
    }

    .galeria {
        @include estilo-nav-mobile;
    }

    .contacto {
        @include estilo-nav-mobile;
    }

    a{
        text-decoration: none;
        color: #ffffff;
    }

}


/* DESKTOP */
@media screen and (min-width: 768px) {

    .contenedorMainIndex {
        display: grid;
        grid-template-areas: 
        "logo indice";
        height: 100vh;
        justify-content: space-around;

        .contenedorImg{
            grid-area: logo;
            justify-content: space-around;

            .logoImprenta{
                width: 50rem;
            }
        }

        .navBarIndex {
            grid-area: indice;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 80vh;
        }


        a {
            text-decoration: none;
            color: #ffffff;
            font-family: $fuente-nav;
            font-size: 40px;
        }

    }

    /* EFECTO HOVER */

    .efectoHover{
        background: $efecto-hover;
        transition: background-size 350ms;
        --bg-h: 100%;
    }

    .efectoHover:where(:hover, :focus-visible) {
        background-size: 100% var(--bg-h);
        background-position-x: left;
    }

}