   /* DONDE ESTAMOS */

   /* NAVBAR */ 

   .headerUbicacion {
    display: flex;
    justify-content: space-around;
    margin: 35px;
    background-color:rgba($color: #9b9b9b, $alpha: 0.6);

    .contenedorImgNav {
         justify-content: center;
         align-content: center;   

         .logoImprentaNav {
             width: 500px;
             margin: 15px;
         }
     }

     .navBar {
         display: grid;
         grid-template-areas: 
         "inicio"
         "quienes"
         "donde"
         "galeria"
         "contacto";
         place-items: center;

         .inicioNav {
             grid-area: inicio;
         }

         .quienesSomosNav {
             grid-area: quienes;
         }

         .dondeEstamosNav {
             grid-area: donde;
         }

         .galeriaNav {
             grid-area: galeria;
         }

         .contactoNav {
             grid-area: contacto;
         }

         a {
             text-decoration: none;
             color: #ffffff;
             font-family: 'Play' , sans-serif;
             font-size: 20px;
         }
     }
 }

 /* MAIN DONDE ESTAMOS */

 .mainDonde {
     display: grid;
     grid-template-areas: 
     "titulo"
     "parrafo"
     "mapa";
     margin: 15px;
     place-items: center;

     .titulo{
         grid-area: titulo;
         color: #ffffff;
         font-family: 'Play' , sans-serif;
         font-size: 60px;
         text-align: center;
         margin-bottom: 25px;
     }

     .parrafo {
         grid-area: parrafo;
         color: #ffffff;
         font-family: 'Play' , sans-serif;
         font-size: 30px;
         text-align: center;
         margin-bottom: 15px;
     }

     .contenedorMapaGoogle {
         grid-area: mapa;
         margin: 40px;
     }
 }